*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins, sans-serif;
}

body{
height:100vh;
background:#f5f7fb;
display:flex;
align-items:center;
justify-content:center;
overflow:hidden;
}

/* floating shapes */

.background{
position:absolute;
width:100%;
height:100%;
}

.shape{
position:absolute;
border-radius:50%;
opacity:.35;
animation:float 8s infinite ease-in-out;
}

.s1{
width:260px;
height:260px;
background:linear-gradient(45deg,#ff7a18,#ffb347);
left:-60px;
top:40%;
}

.s2{
width:200px;
height:200px;
background:linear-gradient(45deg,#8e44ff,#32d2aa);
right:-70px;
bottom:70px;
animation-delay:2s;
}

.s3{
width:140px;
height:140px;
background:linear-gradient(45deg,#21d4fd,#b721ff);
top:100px;
left:45%;
animation-delay:3s;
}

@keyframes float{
0%,100%{transform:translateY(0)}
50%{transform:translateY(-35px)}
}

/* loader */

.loader-container{
text-align:center;
z-index:2;
}

.logo{
font-size:80px;
margin-bottom:30px;
}

.logo span{
background:linear-gradient(90deg,#ff7a18,#32d2aa,#9b5cff);
-webkit-background-clip:text;
color:transparent;
}

.spinner{
width:60px;
height:60px;
border-radius:50%;
border:5px solid rgba(0,0,0,.1);
border-top:5px solid #8e44ff;
margin:auto;
animation:spin 1s linear infinite;
margin-bottom:20px;
}

@keyframes spin{
100%{transform:rotate(360deg)}
}

p{
color:#777;
}